################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-training/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Calculator/ScientificCalculator/obj/Debug
/CTraining/.vs/CTraining/v16/.suo
/CTraining/Day1Calculator/obj/Debug
/Day2ArrayMinimum/.vs/Day2ArrayMinimum/v16/.suo
/CTraining/Day2ArrayMinimum/bin/Debug
/CTraining/DailyProject/obj/Debug
/CTraining/Day4AbstractAddition/obj/Debug
/CTraining/Day4AreaOfSquare/obj/Debug
/CTraining/Day4ConstructorCalculator/obj/Debug
/CTraining/Day4ListCalculator/obj/Debug
/CTraining/Day5FileCalculator/obj/Debug
/CTraining/Day5StringCompare/obj/Debug
